[user]
	name = Alexander Brandstedt
	email = alexanderbrandstedt@gmail.com
[core]
	excludesfile = /Users/mad/.gitignore
	editor = mvim -v
[push]
    default = simple
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

